@font-face {
    font-family: font1;
    src: url(font/suisseintl-bold.ttf);
}

@font-face {
    font-family: font2;
    src: url(font/suisseintl-light.ttf);
}

@font-face {
    font-family: font3;
    src: url(font/suisseintl-medium.ttf);
}

@font-face {
    font-family: font4;
    src: url(font/suisseintl-regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font4;
}

*::selection {
    color: #ffffff;
    background-color: #000;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    background-color: #ffffff;
}

#home {
    width: 100%;
    min-height: 100vh;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#nav img {
    width: 100px;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav a {
    text-decoration: none;
    font-weight: 400;
    color: #000;
    letter-spacing: -1;
    font-size: 1vw;
}

#nav i {
    color: #000;
    margin-top: 3px;
    font-size: 20px;
}

#home #homemain {
    width: 100%;
    padding: 15vw 16vw;

}

#homemain h1 {
    font-weight: 500;
    letter-spacing: -0.1vw;
    font-size: 1.34vw;
}

.headings {
    display: flex;
    gap: 40px;

}

#homemain .headings h1 {
    font-size: 7vw;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -8px;
    color: transparent;
    -webkit-text-stroke: 1px #000;

}

#homemain .headings h1:hover {
    color: #000;
}

#homelast {
    padding: 5vw 15vw;
}

#homelast p {
    width: 70%;
    font-size: 1.6vw;
    font-weight: 400;
    letter-spacing: -0.08vw;
}

#homelast p::selection {
    color: #ffffff;
    background-color: #000;
}

#featured {
    padding: 10vw 15vw;
}

#fheading>h1 {
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}

#fheading>h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

#fimages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 5vw;
}

#fleft {
    overflow: hidden;
    width: 45%;
    height: inherit;

}

#fleft .fleftelm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}

.fleftelm h1 {
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.fleftelm h3 {
    font-size: 1.3;
    font-weight: 400;
}

.fleftelm h4 {
    opacity: 0.5;
}

#fright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;

}

#fright .images {
    width: 90%;
    height: 90%;
    background-color: gray;
 
}

#fright .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

.btndiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btndiv button {
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -1px;
}

#dev {
    width: 100%;
    padding: 5vw 15vw;
}

#dev h1 {
    font-size: 3.8vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;
}

#dev p {
    font-size: 1.5vw;
    margin-top: 3vw;
    letter-spacing: -0.5px;
}

#slides {
    padding: 3vw 5vw;
    display: flex;
    justify-content: space-between;
}

.slide {
    width: 30%;
}

.slide .img {
    width: 100%;
    height: 270px;
    background-color: #c9c7c7;
    overflow: hidden;
    border-radius: 10px;
}

.slide .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .tag {
    width: fit-content;
    border-radius: 100px;
    margin: 20px 0;
    background-color: #f7f7f7;
    padding: 10px 22px;
}

.slide h3 {
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -0.5px;
}