@font-face {
    font-family: font1;
    src: url(font/suisseintl-bold.ttf);
}

@font-face {
    font-family: font2;
    src: url(font/suisseintl-light.ttf);
}

@font-face {
    font-family: font3;
    src: url(font/suisseintl-medium.ttf);
}

@font-face {
    font-family: font4;
    src: url(font/suisseintl-regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font4;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    background-color: #ffffff;
}

#home {
    width: 100%;
    min-height: 100vh;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#nav img {
    width: 100px;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav a {
    text-decoration: none;
    font-weight: 400;
    color: #000;
    letter-spacing: -1;
    font-size: 1vw;
}

#nav i {
    margin-top: 3px;
    font-size: 20px;
}

#home #homemain {
    width: 100%;
    padding: 15vw 16vw;

}

#homemain h1 {
    font-weight: 500;
    letter-spacing: -0.1vw;
    font-size: 1.34vw;
}

.headings {
    display: flex;
    gap: 40px;

}

#homemain .headings h1 {
    font-size: 7vw;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -3px;
    color: transparent;
    -webkit-text-stroke: 1px #000;

}

#homelast{
    padding: 5vw 15vw;
}
#homelast p {
  width: 55%;
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -0.1;
}

#homelast p::selection{
color: #ffffff;
background-color: #000;
}